$primColor: #349155;
$secColor: #84ba9f;

nav {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: $primColor;
		overflow: hidden;
		border-radius: 5px;
	}

	li {
		display: inline;
		background-color: $primColor;
	
		float: left;

		a {
			width: 40px;
			padding: 10px;
			display: block;
			color: white;
			text-align: center;
			&:hover{
				background-color: black;
			}
		}
	}
}

#content {

	text-align: left;
	padding: 10px;
	margin: 10px;

	border-style: solid;
	border-color: red;

}

#content-med {
	@extend #content;
	background-color: $secColor;
}

footer {
	position: absolute;
	
	width: 100%;
	background-color: $primColor;
	overflow: hidden;
	bottom: 0;
	left: 0;


	p {
		float: left;
		margin: 10px;
	}
}