/*main.css*/

body {
  color: black; }

footer {
  position: absolute;
  bottom: 0; }


.layout {
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border: solid black 2px; 
    margin: auto;
}
.layout + * {
      border-top: none; 
}



  