{{> _header title="Sinful Cat Test Website" css_name="main.css" }}

<body>

<div class="layout">

		<h1>Hello World! Welcome to Sinful Cat!</h1>

		{{> _button }} {{!-- this is Handlebars! --}}

		{{> _button2 title="A Variable!" }}
	

</div>

	

</body>

{{> _footer }}