nav {
	position: fixed;
	opacity: 0.8;
	background-color: $primColor;
	left:0;
	right:0;
	top:0;

	
	ul {
		backgroud-color: $primColor;
		padding: 0;
		margin:0;
	}

	li {
		background-color: $primColor;
		padding: 10px;
		a {
			text-decoration: none;
			text-align: center;
			background-color: $primColor;
			color: $secColor;
			padding: 5px;

		}




	}
}