{% extends "layout.html" %}

{% block content %}
	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">New</a></li>
			<li><a href="#">Contact</a></li>
			<li style="float:right"><a href="#">About</a></li>
		</ul>
	</nav>

	<div id="content">
		<h1>This is some test content! Testing testing!</h1>
		<p>Can I move this around and make it look nicer using the new tools that I'm learning about? At least I can use this as a good base!</p>
		
	</div>

	<div id="content-med" style="float: left">
		<h2>Content on the left!</h2>
		<p>Does this project work?!</p>
		<br>
		<p>Fill the space, fill the space,  fill the space, fill the space, fill the space, fill the space, fill the space.
	</div>

	<div id="content-med" style="float: right">
		<h2>Content on the right!</h2>
		<p>I think it does not!</p>
		<br>
		<p>Fill the space, fill the space,  fill the space, fill the space, fill the space, fill the space, fill the space.
	</div>

	



	<footer>
		<p>Copyright &copy Conner Wells, 2016</p>

	</footer>
{% endblock %}