{% extends "layout.html" %}

{% block content %}
	
	<div class="row">
		<div class="col-xl-12">
			<div id="content">
				<h2>Example Content</h2>
				<p>This is only placeholder text. Fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space.</p>
			</div>
		</div>

	
{% endblock %}