@import 'vendor/_flex-grid.scss','modules/default','partials/navbar',
'partials/footer';

.center {
	margin: auto;
	width: 95%;
	padding: 5px;
	text-align: center;
}

.wrapper{
	margin-bottom: 100px;
}

html, body {
	height: auto;
	border-style: solid;
}
