<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset = "utf-8">
	<title>My Test Website</title>
	<link rel="stylesheet" href="main.css"/>
</head>

<body>
	Hello, student!

	{{> _button title="Press Me"}}

	{{> _button title="Please"}}

	{{> _button title="Help"}}

	{{> _button title="My"}}

	{{> _button title="Sanity"}}


</body>

<footer>

</footer>